DATABASE_URL="postgres://postgres:10352599e1f2a7a6d692@35.188.238.30:5433/hydra?sslmode=disable"

# Optional: port for the API (default 3001)
PORT=3001

# Allowed CORS origin (frontend URL)
CORS_ORIGIN=http://localhost:8080

# JWT secret for access tokens (use a long random string in production)
JWT_SECRET=q8Fh3K9sLwPz2VbYtYJzKk8mV2cN0aYwQ7bKxTz9PpE

SIGE_HYDRA_API_TOKEN=ArKLcjdNw2UeVW5kH6mTz9Pp8FcSX0bgLtQsa7vhE1yZRJxAnfG3di4BoqMlOuYw
INEGI_LOCALIDADES_URL=
SEPOMEX_XLSX_URL=
INEGI_LOCALIDADES_DOWNLOAD_EXT=.csv
SEPOMEX_DOWNLOAD_EXT=.xlsx
FEATURE_FACTURACION_CONTRATACION=true